body {

  background-color: blanchedalmond;
  margin-top: 500px;
  margin-left: 50px;
  margin-right: 50px;
}
 
#demo, h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

footer {
  text-align: center;
}
